CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL,
    CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId")
);

START TRANSACTION;

CREATE TABLE "Annotations" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "CollectionId" integer NOT NULL,
    "DocumentId" integer NOT NULL,
    "CollectionName" text NOT NULL,
    "DocumentName" text NOT NULL,
    "OriginalId" text NOT NULL,
    "Description" text NOT NULL,
    "IsDeleted" boolean NOT NULL,
    "IsImported" boolean NOT NULL,
    CONSTRAINT "PK_Annotations" PRIMARY KEY ("Id")
);

CREATE TABLE "Items" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Value" text NOT NULL,
    "Name" text NOT NULL,
    "Description" text NOT NULL,
    "ItemType" integer NOT NULL,
    "IsDeleted" boolean NOT NULL,
    "IsImported" boolean NOT NULL,
    "LastSyncTime" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_Items" PRIMARY KEY ("Id")
);

CREATE TABLE "RelationshipTypes" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "OntologyId" text NOT NULL,
    "Name" text NOT NULL,
    "Description" text NOT NULL,
    "IsDeleted" boolean NOT NULL,
    "IsImported" boolean NOT NULL,
    CONSTRAINT "PK_RelationshipTypes" PRIMARY KEY ("Id")
);

CREATE TABLE "AnnotationItem" (
    "AnnotationItemId" integer NOT NULL,
    "AnnotationsId" integer NOT NULL,
    CONSTRAINT "PK_AnnotationItem" PRIMARY KEY ("AnnotationItemId", "AnnotationsId"),
    CONSTRAINT "FK_AnnotationItem_Annotations_AnnotationsId" FOREIGN KEY ("AnnotationsId") REFERENCES "Annotations" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_AnnotationItem_Items_AnnotationItemId" FOREIGN KEY ("AnnotationItemId") REFERENCES "Items" ("Id") ON DELETE CASCADE
);

CREATE TABLE "ItemLinks" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "SourceId" integer NOT NULL,
    "TargetId" integer NOT NULL,
    "RelationshipTypeId" integer NOT NULL,
    "AuthorId" text NOT NULL,
    "AuthorName" text NOT NULL,
    "CreatedDate" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_ItemLinks" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ItemLinks_Items_SourceId" FOREIGN KEY ("SourceId") REFERENCES "Items" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_ItemLinks_Items_TargetId" FOREIGN KEY ("TargetId") REFERENCES "Items" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_ItemLinks_RelationshipTypes_RelationshipTypeId" FOREIGN KEY ("RelationshipTypeId") REFERENCES "RelationshipTypes" ("Id") ON DELETE CASCADE
);

CREATE TABLE "Votes" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "ItemLinkId" integer NOT NULL,
    "AuthorId" text NOT NULL,
    "AuthorName" text NOT NULL,
    "DuplicateLink" boolean NOT NULL,
    "CreatedDate" timestamp with time zone NOT NULL,
    CONSTRAINT "PK_Votes" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Votes_ItemLinks_ItemLinkId" FOREIGN KEY ("ItemLinkId") REFERENCES "ItemLinks" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_AnnotationItem_AnnotationsId" ON "AnnotationItem" ("AnnotationsId");

CREATE INDEX "IX_ItemLinks_RelationshipTypeId" ON "ItemLinks" ("RelationshipTypeId");

CREATE INDEX "IX_ItemLinks_SourceId" ON "ItemLinks" ("SourceId");

CREATE INDEX "IX_ItemLinks_TargetId" ON "ItemLinks" ("TargetId");

CREATE INDEX "IX_Votes_ItemLinkId" ON "Votes" ("ItemLinkId");

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20220509143207_Initial', '7.0.0');

COMMIT;

START TRANSACTION;

ALTER TABLE "Items" ADD "IsInSchema" boolean NOT NULL DEFAULT FALSE;

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20220509170539_AddItemSchemaFlag', '7.0.0');

COMMIT;

START TRANSACTION;

ALTER TABLE "Annotations" ADD "Created" timestamp with time zone NOT NULL DEFAULT TIMESTAMPTZ '-infinity';

ALTER TABLE "Annotations" ADD "CreatedBy" text NOT NULL DEFAULT '';

INSERT INTO "__EFMigrationsHistory" ("MigrationId", "ProductVersion")
VALUES ('20220509183636_AddAnnotationCreationInfo', '7.0.0');

COMMIT;

START TRANSACTION;

ALTER TABLE "Annotations" DROP COLUMN "CollectionName";

ALTER TABLE "Annotations" DROP COLUMN "DocumentName";

CREATE TABLE "Collections" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Name" text NOT NULL,
    "OriginalId" integer NOT NULL,
    CONSTRAINT "PK_Collections" PRIMARY KEY ("Id")
);

CREATE TABLE "Documents" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Name" text NOT NULL,
    "OriginalId" integer NOT NULL,
    "CollectionId" integer NOT NULL,
    CONSTRAINT "PK_Documents" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Documents_Collections_CollectionId" FOREIGN KEY ("CollectionId") REFERENCES "Collections" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_Annotations_DocumentId" ON "Annotations" ("DocumentId");

CREATE INDEX "IX_Documents_CollectionId" ON "Documents" ("CollectionId");

ALTER TABLE "Annotations" ADD CONSTRAINT "FK_Annotations_Documents_DocumentId" FOREIGN KEY ("DocumentId") REFERENCES "Documents" ("Id") ON DELETE CASCADE;


COMMIT;

START TRANSACTION;

ALTER TABLE "Votes" ADD "Negative" boolean NOT NULL DEFAULT FALSE;


COMMIT;

START TRANSACTION;

ALTER TABLE "Items" ADD "OriginalId" text NOT NULL DEFAULT '';

ALTER TABLE "Items" ADD "PrimaryContextId" integer NULL;

CREATE TABLE "Context" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Title" text NOT NULL,
    CONSTRAINT "PK_Context" PRIMARY KEY ("Id")
);

CREATE TABLE "ContextItem" (
    "ContextsId" integer NOT NULL,
    "SecondaryItemsId" integer NOT NULL,
    CONSTRAINT "PK_ContextItem" PRIMARY KEY ("ContextsId", "SecondaryItemsId"),
    CONSTRAINT "FK_ContextItem_Context_ContextsId" FOREIGN KEY ("ContextsId") REFERENCES "Context" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_ContextItem_Items_SecondaryItemsId" FOREIGN KEY ("SecondaryItemsId") REFERENCES "Items" ("Id") ON DELETE CASCADE
);

CREATE INDEX "IX_Items_PrimaryContextId" ON "Items" ("PrimaryContextId");

CREATE INDEX "IX_ContextItem_SecondaryItemsId" ON "ContextItem" ("SecondaryItemsId");

ALTER TABLE "Items" ADD CONSTRAINT "FK_Items_Context_PrimaryContextId" FOREIGN KEY ("PrimaryContextId") REFERENCES "Context" ("Id");


COMMIT;

START TRANSACTION;

ALTER TABLE "ContextItem" DROP CONSTRAINT "FK_ContextItem_Context_ContextsId";

ALTER TABLE "Items" DROP CONSTRAINT "FK_Items_Context_PrimaryContextId";

ALTER TABLE "Context" DROP CONSTRAINT "PK_Context";

ALTER TABLE "Context" RENAME TO "Contexts";

ALTER TABLE "ItemLinks" ADD "PrimaryContextId" integer NOT NULL DEFAULT 0;

ALTER TABLE "Contexts" ADD CONSTRAINT "PK_Contexts" PRIMARY KEY ("Id");

CREATE INDEX "IX_ItemLinks_PrimaryContextId" ON "ItemLinks" ("PrimaryContextId");

ALTER TABLE "ContextItem" ADD CONSTRAINT "FK_ContextItem_Contexts_ContextsId" FOREIGN KEY ("ContextsId") REFERENCES "Contexts" ("Id") ON DELETE CASCADE;

ALTER TABLE "ItemLinks" ADD CONSTRAINT "FK_ItemLinks_Contexts_PrimaryContextId" FOREIGN KEY ("PrimaryContextId") REFERENCES "Contexts" ("Id") ON DELETE CASCADE;

ALTER TABLE "Items" ADD CONSTRAINT "FK_Items_Contexts_PrimaryContextId" FOREIGN KEY ("PrimaryContextId") REFERENCES "Contexts" ("Id");


COMMIT;


