<div class="designer">
  <div class="mine">
    <h1>My Statements</h1>
    <div class="statement">
      <div class="source">
        <input matInput placeholder="Search Term" [(ngModel)]="selectedTerm" [matAutocomplete]="auto"
          [formControl]="searchTermsCtrl" placeholder="Keyword or Concept">
        @if (selectedTerm) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelectionKeyword()">
            <mat-icon>close</mat-icon>
          </button>
        }
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectedKeyword()"
          [displayWith]="displayWith">
          <ng-container>
            @for (Term of (filteredTerms); track Term) {
              <mat-option [value]="Term">
                <span><b>{{Term.name}}</b></span>
              </mat-option>
            }
          </ng-container>
        </mat-autocomplete>
      </div>
      <div class="link-type">
        <input matInput placeholder="Search Term" [(ngModel)]="selectedLink" [matAutocomplete]="auto1"
          [formControl]="searchLinksCtrl" placeholder="Link">
        @if (selectedLink) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelectionLink()">
            <mat-icon>close</mat-icon>
          </button>
        }
        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onSelectedLink()"
          [displayWith]="displayLinkWith">
          <ng-container>
            @for (Term of (filteredLinks); track Term) {
              <mat-option [value]="Term">
                <span><b>{{Term.name}}</b></span>
              </mat-option>
            }
          </ng-container>
        </mat-autocomplete>
      </div>
      <div class="target">
        <input matInput placeholder="Search Term" [(ngModel)]="selectedConcept" [matAutocomplete]="auto2"
          [formControl]="searchConceptsCtrl" placeholder="Concept">
        @if (selectedConcept) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelectionConcept()">
            <mat-icon>close</mat-icon>
          </button>
        }
        <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onSelectedConcept()"
          [displayWith]="displayWith">
          <ng-container>
            @for (Term of (filteredConcepts); track Term) {
              <mat-option [value]="Term">
                <span><b>{{Term.name}}</b></span>
              </mat-option>
            }
          </ng-container>
        </mat-autocomplete>
      </div>
      <button mat-button (click)="addStatement()"><mat-icon class="add-icon">add</mat-icon></button>
    </div>
    <div class="my-statements">
      @for (Statement of myStatements; track Statement) {
        <div class="statement">
          <div class="text">
            {{ Statement?.source?.name }} {{ Statement?.relationshipType?.name }} {{ Statement?.target?.name }}
          </div>
          <div class="icons">
            <button mat-button (click)="deleteStatement(Statement?.id)"><mat-icon>delete_forever</mat-icon></button>
          </div>
        </div>
      }
    </div>
  </div>
</div>
