@page
@model ontology.Pages.LoginModel

<h1 class="text-success">Success</h1>
The VAST centralized authentication provider has confirmed your identity. If you are not returned automatically, click here: <a href="/">Home</a>.
