<div class="ann-view">
  <div class="collections">
    <h1>Collections</h1>
    <input matInput placeholder="Search" value="" class="search-box" [(ngModel)]="searchCollections" (keyup)="onKeyUpCol()" />
    <ng-scrollbar orientation="vertical" class="collections-list">
      @for (item of (resultsCollection | async); track item) {
        <mat-list class="item" [class.active]="item.id === selectedColIndex">
          <p mat-list-item matLine (click)="onClickCol(item.id)">{{ item.name }}</p>
        </mat-list>
      }
    </ng-scrollbar>
  </div>
  <div class="documents">
    <h1>Documents</h1>
    <input matInput placeholder="Search" value="" class="search-box" [(ngModel)]="searchDocuments" (keyup)="onKeyUpDoc()" />
    <ng-scrollbar orientation="vertical" class="documents-list">
      @for (item of (resultsDocuments | async); track item) {
        <mat-list class="item" [class.active]="item.id === selectedDocIndex">
          <p mat-list-item matLine (click)="onClickDoc(item.id)">{{ item.name }}</p>
        </mat-list>
      }
    </ng-scrollbar>
  </div>
  <div class="annotations">
    <h1>Annotations</h1>
    <input matInput placeholder="Search" value="" class="search-box" [(ngModel)]="searchAnnotations" (keyup)="onKeyUpAnn()" />
    <div class="explainer">Annotations are sorted by their position in text</div>
    <ng-scrollbar orientation="vertical" class="annotations-list">
      @for (item of (resultsAnnotations | async); track item) {
        <mat-list class="item">
          <div mat-list-item matLine class="data">
            <div class="keywords">@for (keyword of item.keywords; track keyword) {
              <span class="keyword" (click)="onClickKeyword(keyword.id)">{{keyword.name}}</span>
            }</div>
            <div class="description">{{item.description}}</div>
            <div class="document">{{item.documentName}}</div>
            <div class="toolbar">
              <a href="https://annotation.vast-project.eu/visualise/annotation/{{item.originalId}}" target="_blank"><mat-icon>visibility</mat-icon></a>
              <a href="https://annotation-visualisation.vast-project.eu/api/collections/{{item.collectionId}}/export" target="_blank"><mat-icon>get_app</mat-icon></a>
            </div>
          </div>
        </mat-list>
      }
    </ng-scrollbar>
  </div>
</div>
