<div class="ann-view">
  <div class="collections">
    <h1>Collections</h1>
    <input matInput placeholder="Search" value="" class="search-box" [(ngModel)]="searchCollections" (keyup)="onKeyUpCol()" />
    <perfect-scrollbar class="collections-list">
      <mat-list class="item" [class.active]="item.id === selectedColIndex" *ngFor="let item of (resultsCollection | async)">
        <p mat-list-item matLine (click)="onClickCol(item.id)">{{ item.name }}</p>
      </mat-list>
    </perfect-scrollbar>
  </div>
  <div class="documents">
    <h1>Documents</h1>
    <input matInput placeholder="Search" value="" class="search-box" [(ngModel)]="searchDocuments" (keyup)="onKeyUpDoc()" />
    <perfect-scrollbar class="documents-list">
      <mat-list class="item" [class.active]="item.id === selectedDocIndex" *ngFor="let item of (resultsDocuments | async)">
        <p mat-list-item matLine (click)="onClickDoc(item.id)">{{ item.name }}</p>
      </mat-list>
    </perfect-scrollbar>
  </div>
  <div class="annotations">
    <h1>Annotations</h1>
    <input matInput placeholder="Search" value="" class="search-box" [(ngModel)]="searchAnnotations" (keyup)="onKeyUpAnn()" />
    <div class="explainer">Annotations are sorted by their position in text</div>
    <perfect-scrollbar class="annotations-list">
      <mat-list class="item" *ngFor="let item of (resultsAnnotations | async)">
        <div mat-list-item matLine class="data">
          <div class="keywords"><span class="keyword" (click)="onClickKeyword(keyword.id)" *ngFor="let keyword of item.keywords">{{keyword.name}}</span></div>
          <div class="description">{{item.description}}</div>
          <div class="document">{{item.documentName}}</div>
          <div class="toolbar">
            <a href="https://annotation.vast-project.eu/visualise/annotation/{{item.originalId}}" target="_blank"><mat-icon>visibility</mat-icon></a>
            <a href="https://annotation-visualisation.vast-project.eu/api/collections/{{item.collectionId}}/export" target="_blank"><mat-icon>get_app</mat-icon></a>
          </div>
        </div>
      </mat-list>
    </perfect-scrollbar>
  </div>
</div>
