<div class="designer">
  <div class="mine">
    <h1>Search & Vote</h1>
    <div class="statement">
      <div class="source">
        <input matInput placeholder="Search Term" [(ngModel)]="selectedTerm" [matAutocomplete]="auto"
               [formControl]="searchTermsCtrl" placeholder="Keyword or Concept">
        <button *ngIf="selectedTerm" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelectionKeyword()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectedKeyword()"
                          [displayWith]="displayWith">
          <ng-container>
            <mat-option *ngFor="let Term of (filteredTerms)" [value]="Term">
              <span><b>{{Term.name}}</b></span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </div>
      <div class="link-type">
        <input matInput placeholder="Search Term" [(ngModel)]="selectedLink" [matAutocomplete]="auto1"
               [formControl]="searchLinksCtrl" placeholder="Link">
        <button *ngIf="selectedLink" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelectionLink()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="onSelectedLink()"
                          [displayWith]="displayLinkWith">
          <ng-container>
            <mat-option *ngFor="let Term of (filteredLinks)" [value]="Term">
              <span><b>{{Term.name}}</b></span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </div>
      <div class="target">
        <input matInput placeholder="Search Term" [(ngModel)]="selectedConcept" [matAutocomplete]="auto2"
               [formControl]="searchConceptsCtrl" placeholder="Concept">
        <button *ngIf="selectedConcept" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelectionConcept()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onSelectedConcept()"
                          [displayWith]="displayWith">
          <ng-container>
            <mat-option *ngFor="let Term of (filteredConcepts)" [value]="Term">
              <span><b>{{Term.name}}</b></span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </div>
      <mat-icon class="add-icon" (click)="loadStatements()">search</mat-icon>
    </div>
    <div class="other">
      <div class="statement" *ngFor="let Statement of otherStatements">
        <span class="text">
          {{ Statement?.source?.name }} {{ Statement?.relationshipType?.name }} {{ Statement?.target?.name }}
        </span>
        <div class="icons">
          <mat-icon [ngClass]="{'active': Statement.votedDown}" (click)="voteStatement(Statement.id, true)">thumb_down</mat-icon>
          <span *ngif="!Statement.voted" class="vote-count">--</span>
          <span *ngif="Statement.voted" class="vote-count">{{ Statement?.votes }}</span>
          <mat-icon [ngClass]="{'active': Statement.votedUp}" (click)="voteStatement(Statement.id, false)">thumb_up</mat-icon>
        </div>

      </div>
    </div>
  </div>

</div>
